<% for(var i=0, len=items.length; i<len; i++) { %>
.<%==items[i].name%><%==i+1<len ? ',' : ''%>
<% } %>{
    background: url("<%==items[0].image%>") no-repeat;
}

<% for(var i=0, len=items.length; i<len; i++) { %>
.<%==items[i].name%> {
    background-position: <%==items[i].offset_x%>px <%==items[i].offset_y%>px;
}
<% } %>